$ltText: hsl(228, 12%, 44%);

#header{
    article{
        border-bottom: 1px solid $ltText;
        padding: 1rem 0;
    }

    p{
        margin-top: 0.5rem
    }

    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
    }
}