//VARIABLES
$limeGreen: hsl(163, 72%, 41%);
$red: hsl(356, 69%, 56%);
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
$youtube: hsl(348, 97%, 39%);

//DARK THEME
$dkBg: hsl(230, 17%, 14%);
$dkAltBg: hsl(232, 19%, 15%);
$dkCard: hsl(228, 28%, 20%);
$dkText: hsl(228, 34%, 66%);


//LIGHT THEME
$ltToggle: hsl(230, 22%, 74%);
$ltBg: hsl(225, 100%, 98%);
$ltCard: hsl(227, 47%, 96%);
$ltText: hsl(228, 12%, 44%);
$ltAltText: hsl(230, 17%, 14%);


//SETUP
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    font-family: "Inter", sans-serif;
}

h1{
    font-size: 3rem;
}

p{
    font-size: 14px;
}

//GLOBAL + COLOR PALLETTES
.container{
    background-color: var(--bg-color);
    border-radius: 5px;
    color: var(--text-color);
    padding: 2rem;
    width: 100%;

    h1, h2, h4{
        color: var(--heading-color);
    }

    //MODIFIERS
    &--lightMode{
        --bg-color: #{$ltCard};
        --text-color: #{$ltText};
        --heading-color: #{$ltAltText};
    }
}


//APP
.app{
    padding: 1rem;
}