//VARIABLES
$limeGreen: hsl(163, 72%, 41%);
$red: hsl(356, 69%, 56%);

//DARK THEME
$dkBg: hsl(230, 17%, 14%);
$dkAltBg: hsl(232, 19%, 15%);
$dkCard: hsl(228, 28%, 20%);
$dkText: hsl(228, 34%, 66%);


//LIGHT THEME
$ltToggle: hsl(230, 22%, 74%);
$ltBg: hsl(225, 100%, 98%);
$ltCard: hsl(227, 47%, 96%);
$ltText: hsl(228, 12%, 44%);
$ltAltText: hsl(230, 17%, 14%);


//SETUP
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    font-family: "Inter", sans-serif;
}

//FONTS
h1{
    font-size: 3rem;
}

p{
    font-size: 14px;
}

.green{
    color: $limeGreen !important;
}

.red{
    color: $red !important;
}

//GLOBAL CONTAINERS
section{ 
    max-width: 1350px;
    margin: 0 auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.card{
    border-radius: 5px;
    cursor: pointer;
    padding: 2rem;
    width: 100%;
    z-index: 1;
}

.bg-box{
    border-bottom-left-radius: 1rem;
    height: 300px;
    width: 100%;

    position:absolute;
    top: 0;
    left: 0;
}

//APP + GLOBAL COLOR PALLETTE
.app{
    background-color: var(--bg-color);
    padding: clamp(1rem, 3.5vw, 5rem);
    width: 100%;
    margin: 0 auto;

    h1, h2, h4{
        color: var(--heading-color);
    }

    p, span{
        color: var(--text-color);
    }

    &__card{
        background-color: var(--bg-card-color);
    }

    &__card:hover{
        filter: var(--hover);
    }

    &__bg{ 
        background-color: var(--bg-alt-color);
    }

    //MODIFIER
    &--lightMode{ 
        --bg-color: #{white};
        --bg-alt-color: #{$ltBg};
        --bg-card-color: #{$ltCard};
        --text-color: #{$ltText};
        --heading-color: #{$ltAltText};
        --hover: #{brightness(0.95)};
    }

    &--darkMode{
        --bg-color: #{$dkBg};
        --bg-alt-color: #{$dkAltBg};
        --bg-card-color: #{$dkCard};
        --text-color: #{$dkText};
        --heading-color: #{$dkText};
        --hover: #{brightness(1.12)};
    }   
}