//VARIABLES
$limeGreen: hsl(163, 72%, 41%);
$red: hsl(356, 69%, 56%);

//DARK THEME
$dkBg: hsl(230, 17%, 14%);
$dkAltBg: hsl(232, 19%, 15%);
$dkCard: hsl(228, 28%, 20%);
$dkText: hsl(228, 34%, 66%);


//LIGHT THEME
$ltToggle: hsl(230, 22%, 74%);
$ltBg: hsl(225, 100%, 98%);
$ltCard: hsl(227, 47%, 96%);
$ltText: hsl(228, 12%, 44%);
$ltAltText: hsl(230, 17%, 14%);


//SETUP
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    font-family: "Inter", sans-serif;
}


//FONTS
h1{
    font-size: 3rem;
}

p{
    font-size: 14px;
}

.green{
    color: $limeGreen
}

.red{
    color: $red;
}

//GLOBAL + COLOR PALLETTES
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.card{
    background-color: var(--bg-color);
    border-radius: 5px;
    color: var(--text-color);
    padding: 2rem;

    width: 100%;

    h1, h2, h4{
        color: var(--heading-color);
    }

    //MODIFIERS
    &--lightMode{
        --bg-color: #{$ltCard};
        --text-color: #{$ltText};
        --heading-color: #{$ltAltText};
    }
}


//APP
.app{
    padding: clamp(1rem, 3.5vw, 5rem);
    max-width: 1445px;
    margin: 0 auto;
}