.title{
    margin: 5rem 0 2rem 0;
}

.card-inner{ 
    display: flex;
    justify-content: space-between;
    
    &--top{
        align-items: flex-start;
    }

    &--bottom{
        margin-top: 1.5rem;
        align-items: flex-end
    }
}

.percentage{
    display: flex;
    align-items: center;
    gap: 0.25rem
}
